/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Poppins", serif;
    src: url(/src/assets/fonts/Karla-Regular.ttf);
}

$Green-lighter: hsl(148, 38%, 91%);
$Green-medium: hsl(169, 82%, 27%);
$Red: hsl(0, 66%, 54%);
$White: hsl(0, 0%, 100%);
$Grey-medium: hsl(186, 15%, 59%);
$Grey-darker: hsl(187, 24%, 22%);

html {
    background-color: $Green-lighter;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

.half {
    width: 48%;
    display: inline-flex;
}

@media screen and (max-width: 768.5px) {
    .half {
        width: 100%;
        display: inline-flex;
    }

}